<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile

/**
 * Category left navigation
 *
 * @var $block \Magento\Catalog\Block\Product\View\Description
 */
?>
<style>
    .product-info-main .product.attribute.sku{
        display: none;
    }
    .product-options-wrapper{
        opacity: 0;
        height: 1px;
        width: 1px;
        visibility: hidden;
        display: inline-block;
    }
</style>
<?php
$_product = $block->getProduct();
$product_id = $_product->getId();

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$configProduct = $objectManager->create('Magento\Catalog\Model\Product')->load($product_id);

$_children = $configProduct->getTypeInstance()->getUsedProducts($configProduct);
$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data'); // Instance of Pricing Helper
$taxHelper = $objectManager->create('Magento\Catalog\Helper\Data'); 
$optionText = '';
$attr = $_product->getResource()->getAttribute('tile_unit');
if ($attr->usesSource()) {
    $optionText = $attr->getSource()->getOptionText($configProduct->getData('tile_unit'));
}
if($optionText == "M2") {
    $optionText = "m<sup>2</sup>";
}
?>
<style type="text/css">
    th {
        border-bottom: 1px solid #e1e1e1;
        padding: 10px 0;
        font-size: 14px;
    }
    td {
        border-bottom: 1px solid #e1e1e1;
        padding: 20px 0;
        color: #666;
        font-size: 14px;
    }
    table {
        margin: 40px 0;
    }
</style>
<div class="container">
    <div class="row">
        <table style="width:100%;margin: 40px 30px;">
            <tr>
                <th>Product Code </th>
                <th>Finish</th>
                <th>Size</th>
                <th>Thickness</th>
                <th>Pcs/Box</th>
                <th>Coverage/Box</th>
                <th>Price</th>
                <th>Unit</th>
            </tr>
            <?php foreach ($_children as $child) : ?>
                <?php $currentChild = $objectManager->create('Magento\Catalog\Model\Product')->load($child->getId()) ?>
                <tr>
                    <td><?= $child->getSku() ?></td>
                    <td><?= $currentChild->getResource()->getAttribute('tile_finish')->getFrontend()->getValue($child) ?></td>
                    <td><?= $currentChild->getResource()->getAttribute('tile_size')->getFrontend()->getValue($child) ?>cm</td>
                    <td><?= $currentChild->getData('tile_thickness') ?>mm</td> 
                    <td><?= $currentChild->getData('tile_pcs_box') ?></td>
                    <td><?= $currentChild->getData('tile_m2_box') ?>m<sup>2</sup></td>
                    <td><?= $priceHelper->currency($taxHelper->getTaxPrice($child, $child->getResource()->getAttribute('price')->getFrontend()->getValue($child), true), true, false) ?></td>
                    <td><?= $optionText ?></td>
                </tr>
            <?php endforeach; ?>
        </table>
    </div>
</div>

